<div class="page-header">
  <h2> {{ main.username }}'s Profile</h2>
  <hr>

  <div class="panel panel-info">
    <div class="panel-heading" style="text-align: center;">
      <strong>User Profile</strong>
    </div>

    <table class="table">
      <tr>
        <td>
          <strong>username</strong>
        </td>
        <td>
          <strong>Email</strong>
        </td>
        <td>
          <strong>Password</strong>
        </td>
      </tr>
      <tr>
        <td>{{ main.username }}</td>
        <td>{{ main.email }}</td>
        <td>********</td>
      </tr>
    </table>
  </div>
</div>